# Ignore Python cache and system files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store

# Ignore local build and install artifacts
build/
dist/
*.egg-info/
.env
.venv

# Ignore editor settings
.vscode/
.idea/
*.iml
